.title {
  margin: 70px 0 30px;

  display: flex;
  flex-direction: column-reverse;

  text-align: center;
  color: $base-design-color;
  font-weight: 600;
  text-transform: uppercase;
}
.title-title {
  margin-top: 5px;

  font-size: 32px;
  color: $base-title-color;
}
