.about {
  margin: 100px auto;
  width: 90%;
  padding: 0 5%;

  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.about-left {
  position: relative;

  max-width: 350px;
}

.about-right {
  max-width: 500px;
}
.about-img {
  width: 100%;

  border-radius: 10px;
}
.about-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 60px;

  transform: translate(-50%, -50%);
}
.about-title {
  font-weight: 600;
  font-size: 16px;
  color: $base-design-color;
}
.about-subtitle {
  margin: 10px 0;

  font-size: 35px;
  color: $base-title-color;
}
.about-text {
  margin-bottom: 15px;
}
