.nav{
    width: 100%;
    // background: #333333;
    color: #ffffff;
    padding-top: 4px;
    padding-bottom: 4px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    transition-property: color, background-color, opacity, padding, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.logo{
    width: 180px;
}
// .nav-list{

// }

.nav-item{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
}

.nav-link{
    display: inline-block;
    color: #212121;
    background: #ffffff;
    padding: 14px 25px;
    border-radius: 30px;
}

.dark-nav{
    background: #212EA0;

}

@media (max-width: 1024px){
    
}