.programs {
  margin: 80px auto;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.program {
  position: relative;

  min-width: 300px;

  flex-basis: 31%;
}

.program-img {
  width: 100%;

  display: block;

  border-radius: 10px;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 10px;
  background: rgba(0, 15, 152, 0.3);
  color: #ffffff;
  cursor: pointer;
  opacity: 0;
  transition-property: color, background-color opacity, padding, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  padding-top: 70px;
}

.caption-img {
  width: 60px;
  margin-bottom: 10px;
}

.program:hover .caption {
  opacity: 1;
  padding-top: 0;
}
